/* Card */

.prev-next-btn .carousel-control-prev {
    background-color: #e5e4e2;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }
  
  .prev-next-btn .carousel-control-next {
    background-color: #e5e4e2;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }
  
  .prev-next-btn2 .carousel-control-prev {
    background-color: #e5e4e2;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }
  
  .prev-next-btn2 .carousel-control-next {
    background-color: #e5e4e2;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }
  
  /* .btn-caption-color {
    opacity: 50%;
  } */
  
  .btn-opacity {
    opacity: 60%;
  }
  
  /* .card-img-overlay {
    opacity: 20%;
  } */
  
  .text-opacity {
    opacity: 60%;
  }
  
  /* @media (min-width: 576px) {
    .border {
      height: 5rem;
    }
  } */
  
  /* .navbar {
    background: $transparent;
    background: $light;
  } */
  
  