<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- css -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <!-- icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">
    <!-- title -->
    <title>Best Collection</title>
    <link rel="icon" href="../../assets/image/logo1.jpg" type="image/x-icon" />
  </head>
  <body class="fw-normal lh-base" style="font-family: 'Poppins' , 'Sans-serif'; letter-spacing: 1px;">
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light pt-2 pb-3 bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="../../index.html">
                <img src="../../assets/image/logo3.jpg" width="170" class="d-none d-md-block ms-2 mt-2" alt="..." />
                <img src="../../assets/image/logo3.jpg" width="150" class="d-block d-md-none" style="padding-top: 12px;" alt="..." />
            </a>
            <button class="navbar-toggler mt-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-3 me-3 me-3" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-lg-0 mt-2 gap-2">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mt-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> SHOP </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-secondary fw-light mt-1" style="letter-spacing: 2px;" href="../new-arrival-page/new-arrival.html">New Arrivals</a></li>
                        <li><a class="dropdown-item text-secondary fw-light mt-1" style="letter-spacing: 2px;" href="../best-seller-page/best-seller.html">Best Collection</a></li>
                        <li><a class="dropdown-item text-secondary fw-light mt-1" style="letter-spacing: 2px;" href="../outerwears-page/outerwears.html">Outerwears</a></li>
                        <li><a class="dropdown-item text-secondary fw-light mt-1" style="letter-spacing: 2px;" href="../tshirt-page/tshirt.html">T-shirt & Tees</a></li>
                        <li><a class="dropdown-item text-secondary fw-light mt-1" style="letter-spacing: 2px;" href="../hats-page/hats.html">Hats</a></li>
                        <li><a class="dropdown-item text-secondary fw-light mt-1" style="letter-spacing: 2px;" href="../pants-page/pants.html">Pants</a></li>
                        <li><a class="dropdown-item text-secondary fw-light mt-1" style="letter-spacing: 2px;" href="../accessories-page/accessories.html">Accessories</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item text-secondary fw-light mt-1" style="letter-spacing: 2px;" href="../all-collection-page/all-collection.html">All Collection</a></li>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link mt-1" href="#about-us">ABOUT US</a>
                    </li>
                    </li>
                </ul>
                <form class="d-flex mt-2" role="search">
                    <input class="form-control me-2 fw-light" style="letter-spacing: 2px;" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn" type="submit">
                        <ion-icon class="fs-4 mt-1 text-secondary" name="search-outline"></ion-icon>
                    </button>
                    <a href="node_modules/components/cart-page/cart.html">
                        <ion-icon class="fs-4 text-secondary" style="margin-top: 10px; margin-left: 12px; margin-right: 12px;" name="bag-outline"></ion-icon>
                    </a>
                    <a href="../login-page/login.html">
                        <ion-icon class="fs-4 text-secondary" style="margin-top: 10px; margin-left: 12px;" name="person-outline"></ion-icon>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    
    <!-- Card New collection -->
    <div id="new-collection" style="padding-top: 80px;">
        <h5 class="text-center fs-4 pt-5 pb-5 fw-normal" style="letter-spacing: 4px;">BEST COLLECTION</h5>
    </div>
    <div class="container-fluid">
        <div class="row" style="justify-content:center;">
            <div class="row" style="width: 70rem;">
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-md-4 col-6 px-lg-3 pb-4 px-md-2">
                    <div class="card-wrapper mx-lg-1 my-lg-3" style="display: flex; justify-content:center; gap: 5rem;">
                        <div class="card border border-1 rounded h-75" style="width: 14rem;">
                            <a href="">
                                <img src="../../assets/image/varsity/varsitymerah1.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="mt-3">
                                <h6 class="text-secondary ms-3 me-3" style="font-size: 12px;">Outerwears</h6>
                                <a href="" style="text-decoration: none;">
                                <h5 class="mt-2 card-title fw-normal ms-3 me-3 text-dark" style="font-size: 16px;">Redemption</h5>
                                </a>
                                <h6 class="card-text text-danger fw-normal ms-3 me-3" style="font-size: 14px;" >Rp. 415.000</h6>
                                <div class = "rating d-flex mt-3 ms-3 me-3 text-secondary" style="font-size: 11px; gap: 2px;">
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span>
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="mb-3">
                                        <ion-icon name="star"></ion-icon>
                                    </span>
                                    <span class="ms-1 mb-3 card-img-top d-none d-md-block">(2 Reviews)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="new-collection">
        <h5 class="text-center fs-4 pt-5 pb-5 fw-normal" style="letter-spacing: 4px;"></h5>
    </div>
    

    <!-- Footer -->
    <section class="section-subscribe text-dark" style="background-color: rgb(232, 232, 232); padding-top: 72px; padding-bottom: 55px; padding-left: 20px; padding-right: 20px;">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 mb-4 fs-5">
                    <h4>Get news & Updates</h4>
                </div>
                <div class="col md-12">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <input type="text" class="form-control" style="padding-top: 12px; padding-bottom: 12px;" placeholder="Your name here">
                            </div>
                            <div class="col-md-4 mb-4">
                                <input type="email" class="form-control " style="padding-top: 12px; padding-bottom: 12px;" placeholder="Email Adress">
                            </div>                        
                            <div class="col-md-4 mb-4">
                                <input type="submit" class="btn w-100 text-light" style="background-color: rgb(27, 27, 27); padding-top: 12px; padding-bottom: 12px;" value="Subscribe">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="about-us"></div>
            </div>
        </div>
    </section>
    <section class="text-light" style="background-color: rgb(27, 27, 27); padding-top: 20px; padding-bottom: 1px; padding-left: 10px; padding-right: 10px;">
        <div class="container">
            <div class="site-footer mt-5 fw-light">
                <div class="row mb-5 fs-5">
                    <div class="col-md-3 mb-5">
                        <h6 class="mb-4">About Us</h6>
                        <p style="font-size: 13px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet officia similique labore</p>
                        <p style="font-size: 13px;">doloremque minus magni ullam adipisci quasi enim.</p>
                    </div>
                    <div class="col-md-3 mb-5 align-middle">
                        <h6 class="mb-4">Contact & Address</h6>
                        <p style="font-size: 13px;">Jl. Moch Toha, Tangerang, Banten, Indonesia.</p>
                        <a href="" class="d-flex text-light" style="text-decoration: none;">
                            <span class="" style="font-size: 20px;"><ion-icon name="logo-whatsapp"></ion-icon></span>
                            <span class="pt-1 ms-2" style="font-size: 13px;">+62 882 1505 202</span>
                        </a>
                    </div>
                    <div class="col-md-3 mb-5">
                        <h6 class="mb-4">Get Help</h6>
                        <a href="" class="text-light" style="text-decoration: none;">
                            <p style="font-size: 13px;">FAQ</p>
                            <p style="font-size: 13px;">Shipping</p>
                            <p style="font-size: 13px;">Returns</p>
                            <p style="font-size: 13px;">Order Status</p>
                            <p style="font-size: 13px;">Payment Options</p>
                        </a>
                    </div>
                    <div class="col-md-3 mb-5">
                        <h6 class="mb-4">Follow Us</h6>
                        <a href="" class="text-light" style="text-decoration: none;">
                            <span class="" style="font-size: 20px;"><ion-icon name="logo-instagram"></ion-icon></span>
                            <span class="ms-2" style="font-size: 20px;"><ion-icon name="logo-facebook"></ion-icon></span>
                            <span class="ms-2" style="font-size: 20px;"><ion-icon name="logo-twitter"></ion-icon></span>
                            <span class="ms-2" style="font-size: 20px;"><ion-icon name="logo-youtube"></ion-icon></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Javascript -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>

